@model kocluk.SERVICES.Dtos.ExamsData.ExamsDto

@{
    ViewData["Title"] = "Sınav Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin:0 auto; max-width:800px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form class="" enctype="multipart/form-data" method="post" action=@Url.Action("sinavguncelle", "sinav")>

                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    @Html.HiddenFor(x=> x.Id)

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="username">Ders</label>
                                @Html.DropDownListFor(x => x.StudyId, (SelectList)ViewBag.Dersler, new { @class = "form-select", id = "validationCustom03", @required = "" })
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="username">Koç</label>
                                @Html.DropDownListFor(x => x.UserId, (SelectList)ViewBag.Koclar, new { @class = "form-select", id = "validationCustom03", @required = "" })
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="username">Öğrenci</label>
                                @Html.DropDownListFor(x => x.StudentId, (SelectList)ViewBag.Ogrenciler, new { @class = "form-select", id = "validationCustom03", @required = "" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="username">Puan</label>
                                @Html.EditorFor(x=> x.Point,
                                new { htmlAttributes = new { @class="form-control", placeholder="Puan giriniz..."}, id="password", type="text", @required = "required"} )
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="username">Başlangıç</label>
                                <input name="ExamDate" class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="username">Bitiş</label>
                                <input name="FinishTime" class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-check form-switch mb-3" dir="ltr">
                                @Html.CheckBoxFor(x => x.IsDoing, new { @class = "form-check-input", id = "customSwitch1" })
                                <label class="form-check-label" for="customSwitch1">Tamamlandı Mı?</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-check form-switch mb-3" dir="ltr">
                                @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-check-input", id = "customSwitch1" })
                                <label class="form-check-label" for="customSwitch1">Aktif mi?</label>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Sınav Güncelle</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


