@model kocluk.SERVICES.Dtos.StudentsData.StudentsDto

@{
    ViewData["Title"] = "Öğrenci Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .img-circle-form {
        width: 150px;
        height: 150px;
        border-radius: 999px;
        object-fit: cover;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 0 auto;
    }
</style>

<div class="row" style="margin:0 auto; max-width:800px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form class="" enctype="multipart/form-data" method="post" action=@Url.Action("ogrenciguncelle", "uygulama")>

                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    @Html.HiddenFor(x=> x.Id)

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mb-4">
                                <img id="img" src="@Model.Image" class="img-circle-form" />
                                <span style="position:relative; top:10px; margin: 0 auto; display: flex; flex-wrap: nowrap; justify-content: center;"><em>(Zorunlu) Kare boyutta seçiniz (1000x1000)</em></span>
                            </div>
                            <div class="mb-4">
                                <div class="row">
                                    <div class="col-sm-6" style="margin:0 auto;">
                                        <input type="file" class="form-control filestyle" data-input="false" name="file" id="file" accept="image/*" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="username">Öğrenci Adı</label>
                                @Html.EditorFor(x=> x.StudentName,
                                new { htmlAttributes = new { @class="form-control", placeholder="Öğrenci adı giriniz..."}, id="username", type="text", @required = "required"} )
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="username">Veli Seçiniz</label>
                                @Html.DropDownListFor(x => x.UserId, (SelectList)ViewBag.Users, new { @class = "form-select", id = "validationCustom03", @required = "" })
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="username">TC Kimlik Numarası</label>
                                @Html.EditorFor(x=> x.CountryId,
                                new { htmlAttributes = new { @class="form-control", placeholder="Doğum tarihi giriniz..."}, id="username", type="datetime-local", @required = "required"} )
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="username">Sınıf</label>
                                @Html.EditorFor(x=> x.ClassLevel,
                                new { htmlAttributes = new { @class="form-control", placeholder="Öğrencinin sınıfını giriniz..."}, id="username", type="text", @required = "required"} )
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-check form-switch mb-3" dir="ltr">
                                @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-check-input", id = "customSwitch1" })
                                <label class="form-check-label" for="customSwitch1">Aktif mi?</label>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Öğrenci Güncelle</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/jquery.js"></script>

<script>
    $(function () {
        $('#file').change(function () {
            var input = this;
            var url = $(this).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#img').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#img').attr('src', '~/assets/images/authentication-bg.jpg');
            }
        });
    });
</script>